:root {
  --primary-text-color: #ffffff;
  --accent-color: #394014;
  --stars-color: #ae990b;
  --error-color: #d1183a;
  --body-bg: #141a19;
  --input-bg: #141a19;
  --input-text: #b9b9b9;
  --footer-bg: #141a19;

  /* Breakpoints */
  --mobile: 375px;
  --mobile-max: 833.98px;
  --tablet: 834px;
  --table-max: 1439.98px;
  --desktop: 1440px;

  /* Transition properties */
  --transition-time: 250ms;
  --transition-effect: cubic-bezier(0.4, 0, 0.2, 1);

  /* Backdrop */
  --background-color: rgba(0, 0, 0, 0.6);

  /* Backdrop */
  --primary-font-family: 'Lato', sans-serif;
  --secondary-font-family: 'Jomolhari', sans-serif;

  /* Height-constants */
  --header-height-small: 76px;
  --header-height-medium: 88px;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

body {
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.013em;
  line-height: 1.36;
  background-color: var(--body-bg);
  overflow-x: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body.is-hidden {
  @media screen and (min-width: 1440px) {
    overflow-y: scroll;
  }
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0px;
}

body::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-bg);
  border-radius: 20px;
}

body::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-bg);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  overflow: hidden;
  padding: 64px 0;

  @media screen and (min-width: 834px) {
    padding: 100px 0;
  }

  @media screen and (min-width: 1280px) {
    padding: 140px 0;
  }
}

.btn-connect {
  border: none;
  cursor: pointer;
  width: 224px;
  height: 96px;
  color: var(--primary-text-color);
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  filter: brightness(100%);
  -webkit-transition: -webkit-filter var(--transition-time)
    var(--transition-effect);
  transition: filter var(--transition-time) var(--transition-effect);
  color: var(--primary-text-color);
  background-position: center;
}

.btn-connect:hover {
  filter: saturate(50%);
}

.section-title {
  margin-bottom: 32px;
  margin-top: 82px;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.35;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--primary-text-color);
  font-family: var(--secondary-font-family);

  @media screen and (min-width: 834px) {
    margin-bottom: 64px;
    margin-top: 100px;
    font-size: 64px;
    line-height: 1.5;
  }

  @media screen and (min-width: 1440px) {
    line-height: 1.4;
  }
}

.button {
  background-color: var(--accent-color);
  font-family: var(--secondary-font-family);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  letter-spacing: 0.01em;
  line-height: 1.5em;
  color: var(--primary-text-color);
}

.slider-wrapper {
  max-width: 600px;
  position: relative;
  margin: 20px auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
}

/* Різні кольори для різних слайдерів */

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  transition: background 0.3s;
}

.slider-btn:hover {
  background: rgba(255, 255, 255, 0.1);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
