.about {
  @media screen and (min-width: 834px) {
    margin-top: 55px;
  }
  @media screen and (min-width: 1440px) {
    margin-top: 71px;
  }
}

.section-text {
  margin-bottom: 34px;
  @media screen and (min-width: 834px) {
    max-width: 369px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 496px;
  }
}
.about-text {
  @media screen and (min-width: 834px) {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 32px;
    margin-bottom: 132px;
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 148px;
  }
}

.about-text-second {
  @media screen and (min-width: 834px) {
  }
}
