.footer {
  padding-top: 96px;
}
.menu-nav {
  margin-top: 22px;
}

.menu-item {
  letter-spacing: 0.013em;
  line-height: 1.9;
}
.footer-info-list {
  margin-top: 22px;
}

.footer-info-item {
  letter-spacing: 0.08em;
  line-height: 1.9;
}

.menu-social-footer {
  display: flex;
  gap: 20px;
  margin-top: 28px;
}

.footer-policy {
  text-align: center;
  font-size: 12px;
  margin-top: 64px;
  padding-bottom: 16px;
}
