.footer {
  padding-top: 80px;
  @media screen and (min-width: 834px) {
    padding-top: 100px;
  }
}

.logo-svg-footer {
  @media screen and (min-width: 834px) {
    width: 169px;
    height: 125px;
    margin-right: 24px;
    margin-top: 28px;
  }
  @media screen and (min-width: 1440px) {
    width: 396px;
    height: 192px;
  }
}

.menu-nav {
  margin-top: 22px;
  @media screen and (min-width: 1440px) {
    margin-right: 138px;
  }
}

.menu-link {
  font-size: 16px;
  letter-spacing: 0.013em;
  line-height: 1.9;
  font-family: var(--secondary-font-family);
  @media screen and (min-width: 834px) {
    font-size: 18px;
    line-height: 2.3;
  }
}

.menu-link:hover,
.menu-link:active,
.menu-link:focus {
  font-weight: bold;
  letter-spacing: 0.01em;
  border-bottom: 1px solid var(--primary-text-color);
}

.footer-info-list {
  margin-top: 22px;
}

.footer-info-item {
  letter-spacing: 0.08em;
  line-height: 1.9;
  @media screen and (min-width: 834px) {
    font-size: 18px;
    line-height: 2.3;
  }
}

.menu-social-footer {
  display: flex;
  gap: 20px;
  margin-top: 28px;
  @media screen and (min-width: 834px) {
    align-items: flex-end;
    justify-content: flex-end;
  }
}

.footer-info-nav {
  @media screen and (min-width: 834px) {
    text-align: right;
  }
}

.footer-policy {
  text-align: center;
  font-size: 12px;
  margin-top: 64px;
  padding-bottom: 16px;
  font-family: var(--secondary-font-family);
  @media screen and (min-width: 834px) {
    font-size: 14px;
  }
}

.footer-info {
  @media screen and (min-width: 834px) {
    display: flex;
    align-items: start;
    gap: 116px;
  }
  @media screen and (min-width: 1440px) {
    gap: 237px;
  }
}
