.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  padding: 16px 0;
  @media screen and (min-width: 834px) {
  }
}

.logo-svg {
  fill: var(--primary-text-color);
}

.menu-nav-header {
  display: none;
  @media screen and (min-width: 834px) {
    display: flex;
    justify-content: end;
    gap: 32px;
    font-size: 18px;
    align-items: center;
  }
  @media screen and (min-width: 1440px) {
    gap: 64px;
  }
}

.header-menu {
  max-width: 24px;
  max-height: 20px;
  fill: var(--primary-text-color);
}

.menu-button {
  padding: 4px 4px;
  border: 1px transparent;
  background: transparent;
  margin-right: 8px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 834px) {
    display: none;
  }
}
