.review-background {
  background: linear-gradient(
      to bottom,
      rgba(20, 26, 25, 1) 0%,
      transparent 30%,
      transparent 70%,
      rgba(20, 26, 25, 1) 100%
    ),
    url('/img/modal-background.jpg') center/cover no-repeat;
}

.review {
  @media screen and (min-width: 834px) {
    margin-top: 55px;
  }
}

.review-item {
  border: 1px solid;
  height: 343px;
  width: 343px;
  margin-bottom: 30px;
  @media screen and (min-width: 834px) {
    width: 320px;
    height: 352px;
  }
}

.reviews-stars {
  display: flex;
  margin-top: 6px;
  gap: 4px;
}
.reviews-star {
  fill: var(--stars-color);
}

.review-info-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
}

.review-info {
  display: flex;

  margin: 32px 32px;
}

.review-img {
  border-radius: 50%;
  display: block;
}

.review-name {
  font-size: 18px;
  font-family: var(--secondary-font-family);
}

.review-name-star {
  margin-top: 10px;
  margin-left: 24px;
}

.review-text {
  font-size: 16px;
  margin: 0 32px;
}
