#toTop {
  position: fixed;
  bottom: 20px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--accent-color);
  border: none;
  border-radius: 50%;
}

.top-icon-svg {
  stroke: var(--primary-text-color);
  transform: rotate(270deg);
}

@media screen and (min-width: 834px) {
  #toTop {
    width: 100px;
    height: 100px;
    background-size: 33px;
  }
  .top-icon-svg {
    stroke: var(--primary-text-color);
    width: 33px;
    height: 33px;
  }
}
