.travel-inner {
  background-image: url('../img/travel-1x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
}
.travel-background {
  margin-top: 30px;
  background-color: var(--body-bg);
  height: 692px;
}

.travel-title {
  text-align: left;
  font-size: 32px;
  letter-spacing: 0.01em;
  line-height: 1.2;
  margin-bottom: 24px;
}
.travel-text-first {
  margin-right: 23px;
  margin-bottom: 24px;
}
.travel-text-second {
  margin-right: 23px;
  margin-bottom: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}

.form-label {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--secondary-font-family);
  font-size: 18px;
  line-height: 1.5;
}

.form-input {
  padding: 14px 12px;
  margin-top: 8px;
  font-family: var(--primary-font-family);
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.02em;
  border: 1px solid var(--primary-text-color);
  background-color: var(--body-bg);
  color: var(--input-text);
}

.form-description {
  margin-top: -12px;
  padding-bottom: 20px;
  width: 100%;
}

.form-button {
  padding: 16px 152px;
  margin-top: 20px;
  margin-bottom: 43px;
}
