<footer class="footer">
  <div class="container">
    <div class="footer-info">
      <a class="menu-social-item" target="_blank" rel="noopener" href="">
        <svg class="logo-svg logo-svg-footer" width="127" height="90">
          <use href="img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="menu-nav">
        <li class="menu-item">
          <a class="menu-link" href="#about">About us</a>
        </li>
        <li class="menu-item"><a class="menu-link" href="#tours">Tours</a></li>
        <li class="menu-item">
          <a class="menu-link" href="#gallery">Gallery</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="#contacts">Contacts</a>
        </li>
      </ul>
      <div class="footer-info-nav">
        <address>
          <ul class="footer-info-list">
            <li class="footer-info-item">
              <a href="tel:+380971231111">+38097-123-11-11</a>
            </li>
            <li class="footer-info-item">
              <a href="WondersOfUkraine@gmail.com"
                >WondersOfUkraine@gmail.com</a
              >
            </li>
            <li class="footer-info-item">Lviv, Zaporyzhka, 198</li>
          </ul>
        </address>
        <ul class="menu-social-footer">
          <li>
            <a
              class="menu-social-item-footer"
              target="_blank"
              rel="noopener"
              href=""
            >
              <svg class="social-svg" width="20" height="20">
                <use href="img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="menu-social-item-footer"
              target="_blank"
              rel="noopener"
              href=""
            >
              <svg class="social-svg" width="20" height="20">
                <use href="img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="menu-social-item-footer"
              target="_blank"
              rel="noopener"
              href=""
            >
              <svg class="social-svg" width="20" height="20">
                <use href="img/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <p class="footer-policy">© All Rights Reserved</p>
  </div>
</footer>
