<section class="">
  <div class="container">
    <h2 class="section-title">Gallery</h2>
    <ul>
      <li>
        <picture class="gallery-img">
          <source
            srcset="
              ../img/gallery/gallery-1-1x.jpg 1x,
              ../img/gallery/gallery-1-2x.jpg 2x
            "
            media="(min-width: 375px)"
            type="image/jpg"
          />
          <img
            class=""
            loading="lazy"
            src="../img/gallery/gallery-1-1x.jpg "
            alt="photo"
          />
        </picture>
      </li>
      <li>
        <picture class="gallery-img">
          <source
            srcset="
              ../img/gallery/gallery-2-1x.jpg 1x,
              ../img/gallery/gallery-2-2x.jpg 2x
            "
            media="(min-width: 375px)"
            type="image/jpg"
          />
          <img
            class=""
            loading="lazy"
            src="../img/gallery/gallery-2-1x.jpg"
            alt="photo"
            width="400"
            height="494"
          />
        </picture>
      </li>
      <li>
        <picture class="gallery-img">
          <source
            srcset="
              ../img/gallery/gallery-3-1x.jpg 1x,
              ../img/gallery/gallery-3-2x.jpg 2x
            "
            media="(min-width: 375px)"
            type="image/jpg"
          />
          <img
            class=""
            loading="lazy"
            src="../img/gallery/gallery-3-1x.jpg"
            alt="photo"
            width="400"
            height="494"
          />
        </picture>
      </li>
      <li>
        <picture class="gallery-img">
          <source
            srcset="
              ../img/gallery/gallery-4-1x.jpg 1x,
              ../img/gallery/gallery-4-2x.jpg 2x
            "
            media="(min-width: 375px)"
            type="image/jpg"
          />
          <img
            class=""
            loading="lazy"
            src="../img/gallery/gallery-4-1x.jpg"
            alt="photo"
            width="400"
            height="494"
          />
        </picture>
      </li>
      <li>
        <picture class="gallery-img">
          <source
            srcset="
              ../img/gallery/gallery-5-1x.jpg 1x,
              ../img/gallery/gallery-5-2x.jpg 2x
            "
            media="(min-width: 375px)"
            type="image/jpg"
          />
          <img
            class=""
            loading="lazy"
            src="../img/gallery/gallery-5-1x.jpg"
            alt="photo"
            width="400"
            height="494"
          />
        </picture>
      </li>
      <li>
        <picture class="gallery-img">
          <source
            srcset="
              ../img/gallery/gallery-6-1x.jpg 1x,
              ../img/gallery/gallery-6-2x.jpg 2x
            "
            media="(min-width: 375px)"
            type="image/jpg"
          />
          <img
            class=""
            loading="lazy"
            src="../img/gallery/gallery-6-1x.jpg"
            alt="photo"
            width="400"
            height="494"
          />
        </picture>
      </li>
      <li>
        <picture class="gallery-img">
          <source
            srcset="
              ../img/gallery/gallery-7-1x.jpg 1x,
              ../img/gallery/gallery-7-2x.jpg 2x
            "
            media="(min-width: 375px)"
            type="image/jpg"
          />
          <img
            class=""
            loading="lazy"
            src="../img/gallery/gallery-7-1x.jpg"
            alt="photo"
            width="400"
            height="494"
          />
        </picture>
      </li>
      <li>
        <picture class="gallery-img">
          <source
            srcset="
              ../img/gallery/gallery-8-1x.jpg 1x,
              ../img/gallery/gallery-8-2x.jpg 2x
            "
            media="(min-width: 375px)"
            type="image/jpg"
          />
          <img
            class=""
            loading="lazy"
            src="../img/gallery/gallery-8-1x.jpg"
            alt="photo"
            width="343"
            height="494"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
