<header class="header">
  <div class="container header-container">
    <div class="header-nav">
      <a class="menu-social-item" target="_blank" rel="noopener" href="">
        <svg class="logo-svg" width="64" height="46">
          <use href="img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <button
        id="openModalBtn"
        class="menu-button"
        title="open menu"
        type="button"
      >
        <svg class="header-menu" width="24" height="20">
          <use href="img/icons.svg#icon-menu"></use>
        </svg>
      </button>
      <ul class="menu-nav-header">
        <li class="menu-item-header">
          <a class="menu-link-header" href="#about">About us</a>
        </li>
        <li class="menu-item-header">
          <a class="menu-link" href="#tours">Tours</a>
        </li>
        <li class="menu-item-header">
          <a class="menu-link-header" href="#gallery">Gallery</a>
        </li>
        <li class="menu-item-header">
          <a class="menu-link-header" href="#contacts">Contacts</a>
        </li>
      </ul>
    </div>
  </div>
</header>
