<header class="header">
  <div class="container">
    <a class="menu-social-item" target="_blank" rel="noopener" href="">
      <svg class="logo-svg" width="64" height="46">
        <use href="img/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <button
      id="openModalBtn"
      class="menu-button"
      title="open menu"
      type="button"
    >
      <svg class="header-menu" width="23" height="17">
        <use href="/images/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
