<section class="">
  <div class="container">
    <div class="hero-inner">
      <h1 class="hero-title">Unlock the Wonders of</h1>
      <p class="hero-text">Ukraine</p>
      <button class="button hero-button">Our tours</button>
      <ul class="menu-social">
        <li>
          <a class="menu-social-item" target="_blank" rel="noopener" href="">
            <svg width="32" height="32">
              <use href="img/icons.svg#icon-instagram"></use></svg
          ></a>
        </li>
        <li>
          <a class="menu-social-item" target="_blank" rel="noopener" href="">
            <svg width="32" height="32">
              <use href="img/icons.svg#icon-facebook"></use></svg
          ></a>
        </li>
        <li>
          <a class="menu-social-item" target="_blank" rel="noopener" href="">
            <svg width="32" height="32">
              <use href="img/icons.svg#icon-telegram"></use></svg
          ></a>
        </li>
      </ul>
    </div>
  </div>
</section>
