<section>
  <div id="modal" class="modal">
    <div class="modal-content">
      <button class="ih-menu-button close-btn">
        <svg class="header-menu close-svg">
          <use href="img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <ul class="menu-nav-header">
        <li class="menu-item-header">
          <a class="menu-link-header" href="#about">About us</a>
        </li>
        <li class="menu-item-header">
          <a class="menu-link" href="#tours">Tours</a>
        </li>
        <li class="menu-item-header">
          <a class="menu-link-header" href="#gallery">Gallery</a>
        </li>
        <li class="menu-item-header">
          <a class="menu-link-header" href="#contacts">Contacts</a>
        </li>
      </ul>
    </div>
  </div>
</section>
