<section>
  <div id="modal" class="modal">
    <div class="modal-content">
      <button class="menu-button close-btn">
        <svg class="header-menu close-svg">
          <use href="img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <ul>
        <li class="modal-item">
          <a class="modal-nav" href="#about">About us</a>
        </li>
        <li class="modal-item">
          <a class="modal-nav" href="#tours">Tours</a>
        </li>
        <li class="modal-item">
          <a class="modal-nav" href="#gallery">Gallery</a>
        </li>
        <li class="modal-item">
          <a class="modal-nav" href="#contacts">Contacts</a>
        </li>
      </ul>
    </div>
  </div>
</section>
