 <div class="review-background">
<section class="review">
  <div class="container">
    <h2 class="section-title">Reviews</h2>
      <div class="slider-wrapper slider-3">
        <ul class=" slider review-list ">
          <li class="slide review-item ">
            <div class="review-info-card">
              <div class="review-info">
                <picture>
                  <source
                    srcset="
                      /img/reviews/reviews-dmitro-1x.jpg 1x,
                      /img/reviews/reviews-dmitro-2x.jpg 2x
                    "
                    media="(min-width: 375px)"
                    type="image/jpg"
                  />
                  <img
                    class="review-img"
                    loading="lazy"
                    src="/img/reviews/reviews-dmitro-1x.jpg"
                    alt="review Dmitro"
                    width="80"
                    height="80"
                  />
                </picture>
                <div class="review-name-star">
                  <h3 class="review-name">Dmitro</h3>
                  <ul class="reviews-stars">
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
              <p class="review-text">
                It was an incredible trip and I am very grateful to the
                organizers for the opportunity to learn more about our country
              </p>
            </div>
          </li>
          <li class="slide review-item ">
            <div class="review-info-card">
              <div class="review-info">
                <picture>
                  <source
                    srcset="
                      /img/reviews/reviews-alisa-1x.jpg 1x,
                      /img/reviews/reviews-alisa-2x.jpg 2x
                    "
                    media="(min-width: 375px)"
                    type="image/jpg"
                  />
                  <img
                    class="review-img"
                    loading="lazy"
                    src="/img/reviews/reviews-alisa-1x.jpg"
                    alt="review Alisa"
                    width="80"
                    height="80"
                  />
                </picture>
                <div class="review-name-star">
                  <h3 class="review-name">Alisa</h3>
                  <ul class="reviews-stars">
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
              <p class="review-text">
                I really like to travel and try to do it as often as possible.
                The last one was to Lake Synevir and it was very cool, a great
                route, a comfortable bus, delicious food. I will definitely go
                somewhere else with you
              </p>
            </div>
          </li>
          <li class="slide review-item">
            <div class="review-info-card">
              <div class="review-info">
                <picture>
                  <source
                    srcset="
                      /img/reviews/reviews-marry-1x.jpg 1x,
                      /img/reviews/reviews-marry-2x.jpg 2x
                    "
                    media="(min-width: 375px)"
                    type="image/jpg"
                  />
                  <img
                    class="review-img"
                    loading="lazy"
                    src="/img/reviews/reviews-marry-1x.jpg"
                    alt="review Marry"
                    width="80"
                    height="80"
                  />
                </picture>
                <div class="review-name-star">
                  <h3 class="review-name">Marry</h3>
                  <ul class="reviews-stars">
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
              <p class="review-text">
                Great tour. I really liked the atmosphere, professional approach
                and very interesting information
              </p>
            </div>
          </li>
          <li class="slide review-item">
            <div class="review-info-card">
              <div class="review-info">
                <picture>
                  <source
                    srcset="
                      /img/reviews/reviews-fedir-1x.jpg 1x,
                      /img/reviews/reviews-fedir-2x.jpg 2x
                    "
                    media="(min-width: 375px)"
                    type="image/jpg"
                  />
                  <img
                    class="review-img"
                    loading="lazy"
                    src="/img/reviews/reviews-fedir-1x.jpg"
                    alt="review Fedir"
                    width="80"
                    height="80"
                  />
                </picture>
                <div class="review-name-star">
                  <h3 class="review-name">Fedir</h3>
                  <ul class="reviews-stars">
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
              <p class="review-text">
                We traveled with a company and it was incredible, everyone
                without exception was satisfied and we will definitely go
                somewhere else with you and will recommend it to everyone
              </p>
            </div>
          </li>
          <li class="slide review-item">
            <div class="review-info-card">
              <div class="review-info">
                <picture>
                  <source
                    srcset="
                      /img/reviews/reviews-anastasia-1x.jpg 1x,
                      /img/reviews/reviews-anastasia-2x.jpg 2x
                    "
                    media="(min-width: 375px)"
                    type="image/jpg"
                  />
                  <img
                    class="review-img"
                    loading="lazy"
                    src="/img/reviews/reviews-anastasia-1x.jpg"
                    alt="review Anastasia"
                    width="80"
                    height="80"
                  />
                </picture>
                <div class="review-name-star">
                  <h3 class="review-name">Anastasia</h3>
                  <ul class="reviews-stars">
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
              <p class="review-text">
                I felt cozy and comfortable throughout the tour. Would have
                liked a little more free time to explore on my own, but overall
                was happy with the tour.
              </p>
            </div>
          </li>
          <li class="slide review-item">
            <div class="review-info-card">
              <div class="review-info">
                <picture>
                  <source
                    srcset="
                      /img/reviews/reviews-victoria-1x.jpg 1x,
                      /img/reviews/reviews-victoria-2x.jpg 2x
                    "
                    media="(min-width: 375px)"
                    type="image/jpg"
                  />
                  <img
                    class="review-img"
                    loading="lazy"
                    src="/img/reviews/reviews-victoria-1x.jpg"
                    alt="review Victoria"
                    width="80"
                    height="80"
                  />
                </picture>
                <div class="review-name-star">
                  <h3 class="review-name">Victoria</h3>
                  <ul class="reviews-stars">
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
              <p class="review-text">
                I felt cozy and comfortable throughout the tour. Would have
                liked a little more free time to explore on my own, but overall
                was happy with the tour.
              </p>
            </div>
          </li>
          <li class="slide review-item">
            <div class="review-info-card">
              <div class="review-info">
                <picture>
                  <source
                    srcset="
                      /img/reviews/reviews-valeriy-1x.jpg 1x,
                      /img/reviews/reviews-valeriy-2x.jpg 2x
                    "
                    media="(min-width: 375px)"
                    type="image/jpg"
                  />
                  <img
                    class="review-img"
                    loading="lazy"
                    src="/img/reviews/reviews-valeriy-1x.jpg"
                    alt="review Valeriy"
                    width="80"
                    height="80"
                  />
                </picture>
                <div class="review-name-star">
                  <h3 class="review-name">Valeriy</h3>
                  <ul class="reviews-stars">
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
              <p class="review-text">
                My trip on the tour with this site was unforgettable! Excellent
                organization, comfortable hotels and exciting excursions. Every
                detail was carefully thought out and I could enjoy every moment
                without any worries.
              </p>
            </div>
          </li>
          <li class="slide review-item">
            <div class="review-info-card">
              <div class="review-info">
                <picture>
                  <source
                    srcset="
                      /img/reviews/reviews-ilona-1x.jpg 1x,
                      /img/reviews/reviews-ilona-2x.jpg 2x
                    "
                    media="(min-width: 375px)"
                    type="image/jpg"
                  />
                  <img
                    class="review-img"
                    loading="lazy"
                    src="../img/reviews/reviews-ilona-1x.jpg"
                    alt="review Ilona"
                    width="80"
                    height="80"
                  />
                </picture>
                <div class="review-name-star">
                  <h3 class="review-name">Ilona</h3>
                  <ul class="reviews-stars">
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
              <p class="review-text">
                My tour with this agency was incredible! Everything was
                organized to a high standard, including transport, accommodation
                and excursions. The guides were very professional and knew every
                corner of the place where we were going.
              </p>
            </div>
          </li>
        </ul>

       <button class="slider-btn prev">←</button>
        <button class="slider-btn next">→</button>
      </div>
    </div>
  </div>
</section>
</div>