<section id="tours">
  <div class="container tours-container">
    <h2 class="section-title">Our tours</h2>
    <ul>
      <li class="tours-item">
        <picture class="tours-img">
          <source
            srcset="
              ../img/tours/tours-synevyr-1x.jpg 1x,
              ../img/tours/tours-synevyr-2x.jpg 2x
            "
            media="(min-width: 375px)"
            type="image/jpg"
          />
          <img
            class=""
            loading="lazy"
            src="../img/tours/tours-synevyr-1x.jpg"
            alt="Lake Synevyr"
          />
        </picture>
        <h3 class="tours-title">Lake Synevyr and Shipit waterfall</h3>
        <p class="tours-text">
          This very interesting excursion will introduce you to the most
          beautiful lake of the Carpathians "Synevyr", the impressive and
          magical waterfall lake Synevirm "Shypit", which is also located in the
          Ukrainian Carpathians. You will have the opportunity to try Soymivska
          and Kelechynska mineral springs, drinks and delicious dishes of
          Carpathian cuisine and, of course, admire the beautiful scenery of the
          unique Ukrainian Carpathians.
        </p>
        <h4 class="tours-included">Included:</h4>
        <ul class="included-list">
          <li class="included-item">
            <svg width="24" height="24">
              <use href="img/icons.svg#icon-bus"></use>
            </svg>
            <p>Transfer</p>
          </li>
          <li class="included-item">
            <svg width="24" height="24">
              <use href="img/icons.svg#icon-id"></use>
            </svg>
            <p>Travel insurance</p>
          </li>
          <li class="included-item">
            <svg width="24" height="24">
              <use href="img/icons.svg#icon-face"></use>
            </svg>
            <p>Professional guide</p>
          </li>
          <li class="included-item">
            <svg width="24" height="24">
              <use href="img/icons.svg#icon-ticket"></use>
            </svg>
            <p>Travel insurance</p>
          </li>
        </ul>
        <div class="button-wrapper">
          <button class="button tours-button">Book</button>
        </div>
      </li>
      <li class="tours-item">
        <picture class="tours-img">
          <source
            srcset="
              ../img/tours/tours-history-1x.jpg 1x,
              ../img/tours/tours-history-2x.jpg 2x
            "
            media="(min-width: 375px)"
            type="image/jpg"
          />
          <img
            class=""
            loading="lazy"
            src="../img/tours/tours-history-1x.jpg"
            alt="Ancient History"
            width="454"
            height="409"
          />
        </picture>
        <h3 class="tours-title">Ancient History & Vibrant Present</h3>
        <ul class="tours-text">
          <li>Departure from Kiev (08:00)</li>
          <li>St. Sophia's Cathedral (iconic UNESCO World Heritage site)</li>
          <li>Golden Gate (historical monument visit)</li>
          <li>Bessarabsky Market (tasting local delicacies)</li>
          <li>
            Kiev Pechersk Lavra (exploration of the significant monastery)
          </li>
          <li>Return to Kiev by 20:00</li>
        </ul>
        <h4 class="tours-included">Included:</h4>
        <ul class="included-list">
          <li class="included-item">
            <svg width="24" height="24">
              <use href="img/icons.svg#icon-bus"></use>
            </svg>
            <p>Transfer</p>
          </li>
          <li class="included-item">
            <svg width="24" height="24">
              <use href="img/icons.svg#icon-id"></use>
            </svg>
            <p>Travel insurance</p>
          </li>
          <li class="included-item">
            <svg width="24" height="24">
              <use href="img/icons.svg#icon-face"></use>
            </svg>
            <p>Professional guide</p>
          </li>
          <li class="included-item">
            <svg width="24" height="24">
              <use href="img/icons.svg#icon-ticket"></use>
            </svg>
            <p>Travel insurance</p>
          </li>
        </ul>
        <div class="button-wrapper">
          <button class="button tours-button">Book</button>
        </div>
      </li>
      <li class="tours-item">
        <picture class="tours-img">
          <source
            srcset="
              ../img/tours/tours-sea-1x.jpg 1x,
              ../img/tours/tours-sea-2x.jpg 2x
            "
            media="(min-width: 375px)"
            type="image/jpg"
          />
          <img
            class=""
            loading="lazy"
            src="../img/tours/tours-sea-1x.jpg"
            alt="Black Sea Jewel"
            width="454"
            height="409"
          />
        </picture>
        <h3 class="tours-title">Black Sea Jewel</h3>
        <ul class="tours-text">
          <li>Departure from Odessa (08:00)</li>
          <li>Primorsky Boulevard (city's scenic walk)</li>
          <li>Potemkin Steps (historical site and great city view)</li>
          <li>Odessa Opera and Ballet Theatre (exterior visit)</li>
          <li>Lunch at a local seafood restaurant</li>
          <li>Return to Odessa by 20:00</li>
        </ul>
        <h4 class="tours-included">Included:</h4>
        <ul class="included-list">
          <li class="included-item">
            <svg width="24" height="24">
              <use href="img/icons.svg#icon-bus"></use>
            </svg>
            <p>Transfer</p>
          </li>
          <li class="included-item">
            <svg width="24" height="24">
              <use href="img/icons.svg#icon-id"></use>
            </svg>
            <p>Travel insurance</p>
          </li>
          <li class="included-item">
            <svg width="24" height="24">
              <use href="img/icons.svg#icon-face"></use>
            </svg>
            <p>Professional guide</p>
          </li>
          <li class="included-item">
            <svg width="24" height="24">
              <use href="img/icons.svg#icon-ticket"></use>
            </svg>
            <p>Travel insurance</p>
          </li>
        </ul>
        <div class="button-wrapper">
          <button class="button tours-button">Book</button>
        </div>
      </li>
    </ul>
  </div>
</section>
