<section id="tours" class="tours">
  <div class="container tours-container">
    <h2 class="section-title">Our tours</h2>
    <div class="swiper-tours">
      <div class="swiper swiper-tours-init">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div>
              <picture class="tours-img">
                <source
                  srcset="
                    /img/tours/tours-synevyr-1x.jpg 1x,
                    /img/tours/tours-synevyr-2x.jpg 2x
                  "
                  media="(min-width: 375px)"
                  type="image/jpg"
                />
                <img
                  loading="lazy"
                  src="/img/tours/tours-synevyr-1x.jpg"
                  alt="Lake Synevyr"
                />
              </picture>
              <h3 class="tours-title">Lake Synevyr and Shipit waterfall</h3>
              <div class="tours-info">
                <ul class="tours-text">
                  <li class="tours-included">
                    Departure from Lviv (07:00) / Stryi (08:00)
                  </li>
                  <li class="tours-included">
                    Pylypets (overview of Shipit waterfall and lunch)
                  </li>
                  <li class="tours-included">
                    Synevyr Pass (photographing and viewing of Carpathian
                    panoramas)
                  </li>
                  <li class="tours-included">
                    "Synevyr" National Park (brown bear rehabilitation center
                    and transition to the lake)
                  </li>
                  <li class="tours-included">
                    Stryi (21:00)/Lviv (return by 22:00)
                  </li>
                </ul>
                <div class="tours-included-info">
                  <h4 class="tours-included">Included:</h4>
                  <ul class="included-list">
                    <li class="included-item">
                      <svg width="24" height="24">
                        <use href="img/icons.svg#icon-bus"></use>
                      </svg>
                      <p>Transfer</p>
                    </li>
                    <li class="included-item">
                      <svg width="24" height="24">
                        <use href="img/icons.svg#icon-id"></use>
                      </svg>
                      <p>Travel insurance</p>
                    </li>
                    <li class="included-item">
                      <svg width="24" height="24">
                        <use href="img/icons.svg#icon-face"></use>
                      </svg>
                      <p>Professional guide</p>
                    </li>
                    <li class="included-item">
                      <svg width="24" height="24">
                        <use href="img/icons.svg#icon-ticket"></use>
                      </svg>
                      <p>Travel insurance</p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="button-wrapper">
                <button class="button tours-button">Book</button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div>
              <picture class="tours-img">
                <source
                  srcset="
                    /img/tours/tours-history-1x.jpg 1x,
                    /img/tours/tours-history-2x.jpg 2x
                  "
                  media="(min-width: 375px)"
                  type="image/jpg"
                />
                <img
                  class=""
                  loading="lazy"
                  src="/img/tours/tours-history-1x.jpg"
                  alt="Ancient History"
                  width="454"
                  height="409"
                />
              </picture>
              <h3 class="tours-title">Ancient History & Vibrant Present</h3>
              <div class="tours-info">
                <ul class="tours-text">
                  <li class="tours-included">Departure from Kiev (08:00)</li>
                  <li class="tours-included">
                    St. Sophia's Cathedral (iconic UNESCO World Heritage site)
                  </li>
                  <li class="tours-included">
                    Golden Gate (historical monument visit)
                  </li>
                  <li class="tours-included">
                    Bessarabsky Market (tasting local delicacies)
                  </li>
                  <li class="tours-included">
                    Kiev Pechersk Lavra (exploration of the significant
                    monastery)
                  </li>
                  <li class="tours-included">Return to Kiev by 20:00</li>
                </ul>
                <div class="tours-included-info">
                  <h4 class="tours-included">Included:</h4>
                  <ul class="included-list">
                    <li class="included-item">
                      <svg width="24" height="24">
                        <use href="img/icons.svg#icon-bus"></use>
                      </svg>
                      <p>Transfer</p>
                    </li>
                    <li class="included-item">
                      <svg width="24" height="24">
                        <use href="img/icons.svg#icon-id"></use>
                      </svg>
                      <p>Travel insurance</p>
                    </li>
                    <li class="included-item">
                      <svg width="24" height="24">
                        <use href="img/icons.svg#icon-face"></use>
                      </svg>
                      <p>Professional guide</p>
                    </li>
                    <li class="included-item">
                      <svg width="24" height="24">
                        <use href="img/icons.svg#icon-ticket"></use>
                      </svg>
                      <p>Travel insurance</p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="button-wrapper">
                <button class="button tours-button">Book</button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div>
              <picture class="tours-img">
                <source
                  srcset="
                    /img/tours/tours-sea-1x.jpg 1x,
                    /img/tours/tours-sea-2x.jpg 2x
                  "
                  media="(min-width: 375px)"
                  type="image/jpg"
                />
                <img
                  class=""
                  loading="lazy"
                  src="/img/tours/tours-sea-1x.jpg"
                  alt="Black Sea Jewel"
                  width="454"
                  height="409"
                />
              </picture>
              <h3 class="tours-title">Black Sea Jewel</h3>
              <div class="tours-info">
                <ul class="tours-text">
                  <li class="tours-included">Departure from Odessa (08:00)</li>
                  <li class="tours-included">
                    Primorsky Boulevard (city's scenic walk)
                  </li>
                  <li class="tours-included">
                    Potemkin Steps (historical site and great city view)
                  </li>
                  <li class="tours-included">
                    Odessa Opera and Ballet Theatre (exterior visit)
                  </li>
                  <li class="tours-included">
                    Lunch at a local seafood restaurant
                  </li>
                  <li class="tours-included">Return to Odessa by 20:00</li>
                </ul>
                <div class="tours-included-info">
                  <h4 class="tours-included">Included:</h4>
                  <ul class="included-list">
                    <li class="included-item">
                      <svg width="24" height="24">
                        <use href="img/icons.svg#icon-bus"></use>
                      </svg>
                      <p>Transfer</p>
                    </li>
                    <li class="included-item">
                      <svg width="24" height="24">
                        <use href="img/icons.svg#icon-id"></use>
                      </svg>
                      <p>Travel insurance</p>
                    </li>
                    <li class="included-item">
                      <svg width="24" height="24">
                        <use href="img/icons.svg#icon-face"></use>
                      </svg>
                      <p>Professional guide</p>
                    </li>
                    <li class="included-item">
                      <svg width="24" height="24">
                        <use href="img/icons.svg#icon-ticket"></use>
                      </svg>
                      <p>Travel insurance</p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="button-wrapper">
                <button class="button tours-button">Book</button>
              </div>
            </div>
          </div>
          ...
        </div>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev swiper-btn-prev"></div>
        <div class="swiper-button-next swiper-btn-next"></div>

        <div class="swiper-scrollbar"></div>
      </div>
    </div>
  </div>
</section>
