<section id="contacts">
  <div class="container">
    <div class="travel-inner">
      <div class="travel-background">
      <h2 class="section-title travel-title">Start travel</h2>
      <p class="travel-text-first">
        If you want to get an unforgettable trip, quickly fill out the
        application and we will contact you during the day
      </p>
      <p class="travel-text-second">We are ready to answer any questions and help choose the best tour</p>
      <form class="form" name="issue_report_form" autocomplete="off">
        <label class="form-label">
          Name
          <input
            class="form-input"
            type="text"
            name="username"
            required placeholder="Enter your name"
           
          />
        </label>

        <label class="form-label">
          Phone
          <input
            class="form-input"
            type="tel"
            name="phone"
             required placeholder="+380__-___-__-__"
          />
        </label>

        <label ></label>
          <textarea
            class="form-input form-description"
            name="description"
            placeholder="Your message"
            rows="4"
          ></textarea>
        </label>

        <button class="button  form-button" type="submit">Send</button>
      </form>
      </div>
    </div>
  </div>
</section>
